<@tern.override name="grid-title">
  <tr class="info">
     <th>选择</th>
     <th>编码</th>
     <th>枚举值</th>
  </tr>
</@>
<@tern.override name="grid-detail">
  <tr>
      <td><input value='${item.id}' name="cb_record" type="radio"/></td>
      <td>${item.ecode!}</td> 
      <td>${item.ecaption!}</td>
  </tr>
</@>

<@tern.override name="list-toolbar">
<div class="btn-group" style="margin:4px">
   <button type="button" class="btn btn-default" id="btnOK">确定</button>
   <button type="button" class="btn btn-default" id="btnCancel">取消</button>
</div>
</@>

<#include "/layout/simplelist.html">
<script>
    $(function(){
    	var v = '${params.value!}';
    	if(v!=null && v!=''){
    		$('input[type=radio][value="'+v+'"]').prop("checked","checked");
    	}
    	
    	$('#btnOK').click(function(){
    		var sel = $('input:radio:checked');
    		if(v==sel.val()){
    			closethis();
    			return;
    		}
    		
    		if(window.callback){
    			callback(sel.val(),sel.parent().next().next().text());
    			closethis();
    		}    		
        });
    	
        $('#btnCancel').click(closethis);
    });
    
    function closethis(){
    	if(window.parent){
    		if(window.parent.modal){
    			window.parent.modal.close();
    			return;
    		}
    	}
    	
    	window.close();
    }
    
</script>