<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${model.caption}</title>
    <link rel="stylesheet" href="${HOME}static/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="${HOME}static/bootstrap/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="${HOME}static/tern.css" media="screen">
    <script type="text/javascript" src="${HOME}static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="${HOME}static/bootstrap/js/bootstrap.js"></script>

    <script type="text/javascript" src="${HOME}static/js/modal.js"></script>
    <script type="text/javascript" src="${HOME}static/js/tern-list.js"></script>
    <script language="javascript">
        var this_url = '${URL}';
        var $tern = null;
        $(function(){
        	$tern = tern_list();
        	$tern.caption = '${model.caption}';
        });
    </script>
</head>
<body>
	<@tern.block name="list-toolbar">
	 <div class="btn-group" style="margin:4px">
		 <button type="button" class="btn btn-default" id="btnNew">新增</button>
         <button type="button" class="btn btn-default" id="btnDel">删除</button>                 
	 </div>
	</@>		
	<@tern.block name="list-query">
       <@tern.query name="query" source=records pagesize=20/>
	</@>
	
	<@tern.block name="grid-start">
	 <#assign colcount=model.columnList?size>
	 <table id="enTable" class="table table-bordered table-hover" style="margin-bottom:0">
	</@>           
	<@tern.block name="grid-title">
	   <p>列表的样式。</p>
    </@>
    
    <#assign rowindex = 0>
    <#foreach item in records>
     <@tern.block name="grid-detail">
	   <p>列表的各行数据。</p>
     </@>
     <#assign rowindex=rowindex+1>
    </#foreach>  
      
    <@tern.block name="grid-footer">
      <#if (query?? && query.pagecount>1) >
	   <tr class="info">   
        <td colspan="${colcount+2}" class="pagination" page-current="${query.current}" page-count="${query.pagecount}">         	
        </td>
      </tr>
      </#if>
     </table>
    </@>

</body>
</html>