<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${service.caption}</title>
     <link rel="stylesheet" href="${HOME}static/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="${HOME}static/bootstrap/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="${HOME}static/datetime/css/bootstrap-datetimepicker.min.css" media="screen">
    <link rel="stylesheet" href="${HOME}static/tern.css" media="screen">
    <script type="text/javascript" src="${HOME}static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="${HOME}static/js/moment.min.js"></script>
    <script type="text/javascript" src="${HOME}static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="${HOME}static/datetime/js/bootstrap-datetimepicker.min.js"></script>
    <script language="javascript">
        $(function(){
        	$('#btnSave').click(function(){
        		var data = $('#editFrm').serialize();
        		var d2= $('#processFrm').serialize();
        		if(data!=null && data.length>0) data +='&'+d2;
        		else data = d2;
        		$.post('update',data,function(result){
    		      if(0 == result.code){
    		      	 window.location.href = '${HOME}service/${service.id}/process';
    		      } else if(result.message){
    			     alert(result.message);
        	      } else {
        		     alert('操作失败，errcode='+result.code);
        	      }
    	        },'json').error(function(){
    		         alert('操作失败！');
    	        });
        	});
        });
    </script>
</head>
<body>	
   <ul class="breadcrumb">
     <li><a href="${HOME}service/${service.id}/process">${service.caption}</a><span class="divider"></span></li>
     <li class="active">流程处理</li>
   </ul>
   
   	<#foreach s in steps>
   	  <div class="panel panel-default">
   	      <div class="panel-heading" data-toggle="collapse"
               data-parent="#accordion2" href="#formProcess">
               <a class="accordion-toggle">${s.step.name}</a>
          </div>         
          <div id="formProcess" class="panel-collapse in">
              <div class="panel-body">
          	     <form id="processFrm" method="post" class="form-horizontal">
          	  	  <div class="form-group">
                     <label class="col-sm-2">处理结果</label>
                     <div class="col-sm-4">
                     	<select id="actionID" name="actionID" class="form-control">
                     	   <#foreach act in s.actions>
                     		 <option value="${act.id}">${act.name}</option>
                     	   </#foreach>
                     	   <#foreach act in s.sysActions>
                     		 <option value="${act.value}">${act.name}</option>
                     	   </#foreach>
                     	</select>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-2">处理意见</label>
                     <div class="col-sm-4">
                     	<textarea name="actionSuggest" class="form-control">同意！</textarea>
                     </div>
                  </div>
                  
                  <div class="form-group">
          	         <button id="btnSave" type="button" class="btn btn-primary">提交</button>
          	      </div>
          	   </form>
            </div>
          </div>
     </div>
   </#foreach>
   
   	<div class="panel panel-default">
   	    <div class="panel-heading" data-toggle="collapse"
               data-parent="#accordion2" href="#formData">
           <a class="accordion-toggle">表单:${model.caption}</a>
        </div>
        <div id="formData" class="panel-collapse in">
          <div class="panel-body">
          	 <@tern.form id="editFrm" record=record readonly=true></@>
          </div>
        </div>
     </div>
     
     <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse"
               data-parent="#accordion2" href="#wfHistory">
           <a class="accordion-toggle">历史步骤</a>
        </div>
        <div id="wfHistory" class="panel-collapse collapse">
          <div class="panel-body">
          	<table class="table table-bordered table-hover">
              <tr>
              	<th>序号</th>
              	<th>步骤</th>
              	<th>处理人</th>
              	<th>流入时间</th>
              	<th>处理完成时间</th>
              	<th>状态</th>
              	<th>处理意见</th>
              </tr>
          	 <#foreach stepInfo in history>
                <tr>
                	<td>${(stepInfo.stepID)!}</td>
                	<td>${(stepInfo.stepName)!}</td>
                	<td>${(stepInfo.ownername)!}</td>
                	<td>${stepInfo.sDate?string("yyyy-MM-dd HH:mm:ss")}</td>
                	<td>${(stepInfo.hDate?string("yyyy-MM-dd HH:mm:ss"))!}</td>
                	<td>
                		<#if stepInfo.sstate==1>完成
                		<#else>处理中
                		</#if> 
                    </td>
                    <td>${(stepInfo.hDescription)!}</td>
                </tr>
             </#foreach>
           </table>
          </div>
        </div>
     </div>

     
</body>
</html>