<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="${HOME}" />
    <title>新建：${service.caption}</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="static/bootstrap/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="static/datetime/css/bootstrap-datetimepicker.min.css" media="screen">
    <link rel="stylesheet" href="static/tern.css" media="screen">
    <script type="text/javascript" src="static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="static/js/moment.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/datetime/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="static/js/modal.js"></script>
    <script type="text/javascript" src="static/js/edit.js"></script>
    <script language="javascript">
        var this_url = '${URL}';
    </script>
</head>
<body>
	<ul class="breadcrumb">
     <li><a href="${HOME}task/${service.code}/1">${service.caption}</a><span class="divider">/</span></li>
     <li class="active">新建</li>
   </ul>

    <@tern.form id="editFrm" record=record>
    </@>
    <button id="btnSave" type="button" class="btn btn-primary">提交</button>
</body>
</html>