<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${HOME}static/bootstrap/css/bootstrap.css" media="screen">
</head>
<body>
	<h1>Test IAP:${message}</h1>
	<li>
		<ul><a href="test">hello world</a></ul>
		<ul><a href="test/page1">variables in freemarker</a></ul>
		<ul><a href="data/petclass">Pet Types</a></ul>
		<ul><a href="data/pet">Pet List</a></ul>
		<ul><a href="data/t_operator">Operators</a></ul>
		<ul><a href="service/1/process">workflow:leave apply</a></ul>
	</li>
</body>
</html>