.input-append input{
	width:180px;
}

.table A{
	margin-right: 8px;
}

.table A i{
	color:black;
}

.pagediv .pagination{
    margin: 0 !important;
}

.pagination A{
    margin: 0 !important;
}

body {
	font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
  padding: 0 !important;
  margin: 0 !important;
}

.header .brand {
  display: inline-block;
  margin-top: -1px;
  margin-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0;
  width: 225px;
  margin-left: -20px;
  font-size:20px;
  font-family:'Microsoft YaHei',Verdana,sans-serif,SimSun;
  text-decoration:none;
  color: white;
}

.header .brand img {
  margin-left: 20px;
}

.header .brand span {
  margin-left: 20px;
}

.header .btn-navbar {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-top:10px;
  padding-bottom: 6px; 
  background-image: none;
  filter:none;
  box-shadow: none;
  color: #fff;
  border: 0;
}

.header .btn-navbar:hover {
  text-decoration: none;
}

.header .navbar-inner {
  width: 100%;
  margin-left: 0 0 0 110px;
  border: 0px;
  padding: 0px; 
  box-shadow: none;
  height: 42px; 
}

.header .nav {
  display: block; 
}

.header .nav > li {
  margin: 0px;
  padding: 0px;
}

.header .nav > li.dropdown, 
.header .nav > li.dropdown > a {
  padding-left: 4px; 
  padding-right: 4px;
}

.header .nav > li.dropdown > a:last-child {
  padding-right: 0;
}

.header .nav > li.dropdown:last-child {
   padding-right: 2px;
}

.header .nav > li.dropdown .dropdown-toggle {
  margin: 0px;
  padding: 15px 10px 7px 10px;
}

.header .nav > li.dropdown .dropdown-toggle i {
  font-size: 18px;
}

.header .nav > li.dropdown.user .dropdown-toggle {
  padding: 6px 4px 7px 9px;
}

.header .nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}

.header .nav > li.dropdown.user .dropdown-toggle .username {
  color: #ddd;
}

.header .nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 16px;
}

.header .nav > li.dropdown.user .dropdown-menu i {
  width: 15px;
  display: inline-block;
}

.header .nav > li.dropdown .dropdown-toggle .badge {
  position: absolute;
  font-size: 11px !important;
  font-weight: 300;
  top: 8px;
  right: 24px;
  text-align: center;
  height: 14px;
  background-color: #e02222;
  padding: 2px 6px 2px 6px;
  -webkit-border-radius: 12px !important;
     -moz-border-radius: 12px !important;
          border-radius: 12px !important;
  text-shadow:none !important;
}

/* firefox hack for top bar badges */
@-moz-document url-prefix() { 
  .header .nav li.dropdown .dropdown-toggle .badge {
    padding: 1px 6px 3px 6px;
  }
}

.header .nav .dropdown-menu {
  margin-top: 3px;
}

/***
Page container
***/
.page-container {
  margin: 0px;
  padding: 0px;
}

.page-header-fixed .page-container {
  margin-top: 42px;  
}

/***
Page sidebar
***/

/* ie8 fixes */
.ie8 .page-sidebar {
  position: absolute;
  width: 225px;
}

ul.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}

ul.page-sidebar-menu ul{
	padding:0px;
}

ul.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

ul.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

ul.page-sidebar-menu > li:last-child > a,
ul.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}

ul.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.page-sidebar-fixed ul.page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

ul.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none; 
}

ul.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}

ul.page-sidebar-menu > li.active > a {
  border: none; 
  text-shadow:none;
}  

ul.page-sidebar-menu > li.active > a .selected {
  display: block;
  width: 8px;
  height: 25px;
  background-image: url("image/sidebar-menu-arrow.png");
  float: right;
  position: absolute;
  right:0px;
  top:8px;
}

.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 1px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0px 8px 0px;
}

ul.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}

ul.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 44px !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

/* 3rd level sub menu */
ul.page-sidebar-menu > li > ul.sub-menu  > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px 0px 0px 0px;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow:before   {  
   float: right;
   margin-top: 1px;
   margin-right: 20px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 18px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu {
  display: block;
}

ul.page-sidebar-menu > li > ul.sub-menu > li  ul.sub-menu li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

ul.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 60px;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {  
  padding-left: 80px;
}

ul.page-sidebar-menu > li.active > ul.sub-menu > li.active ul.sub-menu > li.active ul.sub-menu {
  display: block;
}


ul.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a > i {
  font-size: 13px;
}

/* sidebar search */

.page-sidebar .sidebar-search {
  margin: 8px 20px 20px 20px;
}

.page-sidebar .sidebar-search .submit {  
  display: block;
  float: right;
  margin-top: 8px;
  width: 13px;
  height: 13px;
  background-image: url(image/search-icon.png);
  background-repeat: no-repeat;
}
 
.page-sidebar .sidebar-search input {
  margin: 0px;
  width: 165px;
  border: 0px; 
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 14px ;
  box-shadow: none;
}

.page-sidebar .sidebar-search .input-box {
   padding-bottom: 2px;
}

/***
Sidebar toggler(show/hide)
***/

.page-sidebar .sidebar-toggler {
  cursor: pointer; 
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-top: 15px;
  margin-left: 175px;
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
}

.sidebar-toggler:hover { 
  filter: alpha(opacity=100);
  opacity: 1;
}

.page-sidebar-closed .sidebar-toggler {  
  margin-left: 3px;
}

.page-sidebar-closed .page-sidebar .sidebar-search {  
  height: 34px;    
  width: 29px;
  margin-left: 3px;  
  margin-bottom: 15px !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search input {
  display: none;
}

.page-sidebar-closed .page-sidebar .sidebar-search .submit { 
  margin: 11px 7px !important;
  display: block !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search .input-box {
  border-bottom: 0 !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open {  
  height: 34px;    
  width: 255px;
  overflow: hidden;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open input {  
  margin-top: 3px;
  padding-left: 10px;
  padding-bottom: 2px;
  width: 180px;
  display: inline-block !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .submit {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 10px 8px 9px 6px !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin: 11px 6px 7px 8px !important;
  display: inline-block !important;
  float: left !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > a .selected {
  right: -3px !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > a > .title,
.page-sidebar-closed ul.page-sidebar-menu > li > a > .arrow {
  display: none !important;
}

.page-sidebar-closed .sidebar-toggler {
  margin-right: 3px;
}

.page-sidebar-closed .page-sidebar .sidebar-search {
  margin-top: 6px;
  margin-bottom: 6px;
}

.page-sidebar-closed ul.page-sidebar-menu {
  width: 35px !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > a {
  padding-left: 7px;
}

.page-sidebar-fixed.page-sidebar-closed ul.page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover {
  width: 225px !important;
  position: relative !important;
  z-index: 2000;
  display: block !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover .selected {
  display: none;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > a > i {
  margin-right: 10px;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover .title {
  display: inline !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > .sub-menu {
  display: none !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu {  
  width: 189px;
  position: absolute;
  z-index: 2000;
  left: 36px;
  margin-top: 0;
  top: 100%;
  display: block !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu,
.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > .sub-menu {
  width: 189px;
}

/* 2rd level sub menu*/
.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > a {
  padding-left: 15px !important;
}

/* 3rd level sub menu*/
.page-sidebar-closed ul.page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > a {  
  padding-left: 30px !important;
}

/* 4rd level sub menu*/
.page-sidebar-closed ul.page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > .sub-menu > li > a {  
  padding-left: 45px !important;
}

/* sidebar container */
 
.page-sidebar-closed  .page-sidebar {
  width: 35px;
}

.page-sidebar-closed  .page-content {
  margin-left: 35px !important;
}


/***
Page content
***/
.page-content {  
  margin-top: 0px;   
  padding: 0px;
  background-color: #fff; 
}

.ie8 .page-content { 
    margin-left: 225px; 
    margin-top: 0px;
    min-height: 760px;
}

.ie8 .page-sidebar-fixed .page-content {
    min-height: 600px; 
}

.ie8 .page-content.no-min-height {
    min-height: auto;
  }

.page-full-width .page-content {
    margin-left: 0px !important;
}

/***
Page breadcrumb
***/
.page-content .breadcrumb {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  box-shadow: none;
  padding-right: 0px;
  padding-left: 8px;
  margin-bottom: 25px;
  border:0px !important;  
  background-color: #eee;
}

.page-content .breadcrumb a, 
.page-content .breadcrumb i, 
.page-content .breadcrumb span {
  color: #333;
  font-size: 14px;
  text-shadow:none;
}

.page-content .breadcrumb i {
  color: #666;
}

.gray-bg {
    background-color: #f3f3f4;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox-content {
    background-color: #fff;
    color: inherit;
    padding: 4px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
}

.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}

.todo-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.todo-list>li {
    background: #f3f3f4;
    border-left: 6px solid #e7eaec;
    border-right: 6px solid #e7eaec;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 2px;
    padding: 10px;
}

.todo-list .small-list {
    font-size: 12px;
}

.todo-list.small-list>li {
    background: #f3f3f4;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 2px;
    padding: 6px 6px 6px 12px;
}

.input-icon.left i {
  color: #ccc;
  display: block !important;
  position: absolute !important;
  z-index: 1;
  margin: 9px 2px 4px 10px; 
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.input-icon.left input {
  padding-left: 33px !important;
}
