<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${model.caption}</title>
    <base href="${HOME}" />
    <link rel="stylesheet" type="text/css" href="static/skins/wfeditor/main.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" media="screen">
    <script type="text/javascript" src="static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/ternlight/base.js"></script>
    <script type="text/javascript" src="static/js/ternlight/ternlight.js"></script>
    <script type="text/javascript" src="static/js/ternlight/utils.js"></script>
    <script type="text/javascript" src="static/js/ternlight/connector.js"></script>
    <script type="text/javascript" src="static/js/ternlight/action.js"></script>
    <script type="text/javascript" src="static/js/ternlight/command.js"></script>
    <script type="text/javascript" src="static/js/ternlight/text.js"></script>
    <script type="text/javascript" src="static/js/editorui.js"></script>
    <script type="text/javascript" src="static/js/workflow.js"></script>
    <style>
     .toolitem{
         width:80px;
         height:20px;
         border:1px solid green;
         background:#F89E24;
         font-size: 9pt;
         text-align:center;
         padding-top: 4px;
     }
     </style>
    <script language="javascript">
     var uictrl = null;
     $(function(){
         uictrl = new wf.WorkflowController('${URL}');
     });
    </script>
</head>
<body>
<div class="inner">
    <div class="project-editor">
        <!-- 可视化编辑组件 start -->
        <div class="editor-wrapper">
            <!-- 编辑框头部 -->
            <div class="editor-head">
                <!-- 顶部工具栏 -->
                <div class="editor-tool">
                    <div class="right">
                        <div class="classify">
                            <a href="#" title="保存" class="operate save"></a>
                            <a href="#" title="重载" class="operate refresh"></a>
                        </div>
                    </div>
                    <ul class="tool-group float">
                        <!-- 左侧工具一级分类 -->
                        <li>
                            <!-- 工具二级小类-调色盘 -->
	 							<span class="classify">
	 								<div class="drop-down colorsPanel">
	 									<a href="#" class="colorBucket drop-link operate"><div class="colorShow"></div><i class="arrow"></i></a>
	 									<div class="drop-details">
	 										<div>#&nbsp;&nbsp;<input type="text" class="color-value inputText" /></div>
	 										<ul class="float colors">
	 											<li><a href="#" class="color-1" color="000000"></a></li>
	 											<li><a href="#" class="color-2" color="666666"></a></li>
	 											<li><a href="#" class="color-3" color="ffffff"></a></li>
	 											<li><a href="#" class="color-4" color="ff0000"></a></li>
	 											<li><a href="#" class="color-5" color="ffff00"></a></li>
	 											<li><a href="#" class="color-6" color="00ff00"></a></li>
	 											<li><a href="#" class="color-7" color="002aff"></a></li>
	 											<li><a href="#" class="color-8" color="5151ff"></a></li>
	 											<li><a href="#" class="color-9" color="0084ff"></a></li>
	 											<li><a href="#" class="color-10" color="00c0ff"></a></li>
	 											<li><a href="#" class="color-11" color="00fff0"></a></li>
	 											<li><a href="#" class="color-12" color="00ff84"></a></li>
	 											<li><a href="#" class="color-13" color="009341"></a></li>
	 											<li><a href="#" class="color-14" color="00c758"></a></li>
	 											<li><a href="#" class="color-15" color="a2ff00"></a></li>
	 											<li><a href="#" class="color-16" color="ff9c00"></a></li>
	 											<li><a href="#" class="color-17" color="ff6600"></a></li>
	 											<li><a href="#" class="color-18" color="ff0072"></a></li>
	 											<li><a href="#" class="color-19" color="ff00ba"></a></li>
	 											<li><a href="#" class="color-20" color="b400ff"></a></li>
	 										</ul>
	 									</div>
	 								</div>
	 							</span>
                        </li>
                        <li>
                            <!-- 工具二级小类-元素坐标值 -->
	 							<span class="classify tool-axes">
	 								<lable>x:</lable>
	 								<input type="text" class="inputText" data-property="X"/>
	 								<lable class="ml5">y:</lable>
	 								<input type="text" class="inputText" data-property="Y"/>
	 							</span>
                        </li>
                        <li>
                            <!-- 工具二级小类-元素z-index层级 -->
	 							<span class="classify">
	 								<a class="zIndex-top operate" href="#"></a>
	 								<a class="zIndex-bottom operate" href="#"></a>
	 								<a class="zIndex-up operate" href="#"></a>
	 								<a class="zIndex-down operate" href="#"></a>
	 							</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="editor-body">
                <!-- 右侧工具栏 -->
                <div class="editor-body-tool">
                    <div class="body-tool-Step" style="display:none">
                        <h1 class="emphsis">步骤[<span data-property="id"></span>]</h1>
                        <div>
                            <div>
                                <select data-property="OpType">
                                    <option value="">--选择审核人类型--</option>
                                    <option value="role">角色</option>
                                    <option value="operator">操作员</option>
                                </select>
                            </div>
                            <div class="form-entry">
                                <label>审核人</label><input class="inputText" type="text" data-property="OpName"/>
                            </div>
                        </div>

                        <h1>前置脚本 <a href="#" class="addSeries plr10" data-property="PreFunctions" data-action="new">+新增脚本</a></h1>
                        <div class="seriesList switchover" data-property="PreFunctions" data-type="list" data-onedit="uictrl.editScript(this)"></div>

                        <h1>后置脚本 <a href="#" class="addSeries plr10" data-property="PostFunctions" data-action="new">+新增脚本</a></h1>
                        <div class="seriesList switchover" data-property="PostFunctions" data-type="list" data-onedit="uictrl.editScript(this)"></div>

                        <h1 class="emphsis" style="margin-top:8px">动作 <a href="#" class="addSeries plr10" data-property="Actions" data-action="new">+新增动作</a></h1>
                        <div class="seriesList switchover" data-property="Actions" data-type="list"></div>

                        <div data-list-item="Actions">
                            <h1>动作[<span data-property="Actions.Current.Name"></span>]:前置脚本</h1>
                            <div class="seriesList switchover" data-property="Actions.Current.PreFunctions" data-type="list" data-onedit="uictrl.editScript(this)"></div>
                            <a href="#" class="addSeries plr10" data-property="Actions.Current.PreFunctions" data-action="new">+新增脚本</a>

                            <h1>动作[<span data-property="Actions.Current.Name"></span>]:后置脚本</h1>
                            <div class="seriesList switchover" data-property="Actions.Current.PostFunctions" data-type="list" data-onedit="uictrl.editScript(this)"></div>
                            <a href="#" class="addSeries plr10" data-property="Actions.Current.PostFunctions" data-action="new">+新增脚本</a>
                        </div>

                    </div>

                    <div class="body-tool-Start" style="display:none">
                        <h1 class="emphsis">开始节点</h1>
                        <h1>前置脚本 <a href="#" class="addSeries plr10" data-property="PreFunctions" data-action="new">+新增脚本</a></h1>
                        <div class="seriesList switchover" data-property="PreFunctions" data-type="list" data-onedit="uictrl.editScript(this)"></div>

                        <h1>后置脚本 <a href="#" class="addSeries plr10" data-property="PostFunctions" data-action="new">+新增脚本</a></h1>
                        <div class="seriesList switchover" data-property="PostFunctions" data-type="list" data-onedit="uictrl.editScript(this)"></div>
                    </div>

                    <div class="body-tool-End" style="display:none">
                        <h1 class="emphsis">结束节点</h1>

                        <h1>脚本 <a href="#" class="addSeries plr10" data-property="PreFunctions" data-action="new">+新增脚本</a></h1>
                        <div class="seriesList switchover" data-property="PreFunctions" data-type="list" data-onedit="uictrl.editScript(this)"></div>
                    </div>

                    <div class="body-tool-Split" style="display:none">
                        <h1 class="emphsis">拆分[<span data-property="id"></span>]</h1>
                    </div>

                    <div class="body-tool-Join" style="display:none">
                        <h1 class="emphsis">合并[<span data-property="id"></span>]</h1>
                    </div>

                    <div class="body-tool-Line" style="display:none">
                        <h1 class="emphsis">连线属性</h1>
                        <div class="form-entry">
                            <label>下一节点:</label><span data-property="Next"></span>
                        </div>
                        <h1>触发动作</h1>
                        <div>
                            <select data-property="Action" data-source="SourceActions">
                                <option selected value="">--请选择--</option>
                            </select>
                        </div>

                        <h1>触发条件 <a href="#" class="addSeries plr10" data-property="Conditions" data-action="new">+新增条件</a></h1>
                        <div>
                            <select data-property="Type" data-change="bind,Conditions">
                                <option value="0">无条件</option>
                                <option value="1">并且(and)</option>
                                <option value="2">或者(or)</option>
                            </select>
                        </div>
                        <div class="seriesList switchover" style="margin-top:4px" data-property="Conditions" data-type="list" data-onedit="uictrl.editScript(this)"></div>
                    </div>
                </div>
                <!-- 左侧菜单栏 -->
                <div class="editor-body-menu">
                    <a href="#" class="menu-sharp" data-type="wf.StepShape"><i class="icon-editor-step"></i><p>步骤</p></a>
                    <a href="#" class="menu-sharp" data-type="wf.JoinShape"><i class="icon-editor-join"></i><p>合并</p></a>
                    <a href="#" class="menu-sharp" data-type="wf.SplitShape"><i class="icon-editor-split"></i><p>拆分</p></a>
                </div>
                <!-- 编辑区域 -->
                <div class="editor-body-main">
                    <!-- 画布元素 -->
                    <div id="canvas" class="editor-canvas">
                        <ul class="grid-left">
                            <li><span>0</span></li><li><span>100</span></li><li><span>200</span></li><li><span>300</span></li><li><span>400</span></li><li><span>500</span></li><li><span>600</span></li><li><span>700</span></li><li><span>800</span></li>
                        </ul>
                        <ul class="grid-top" style="width: 900px;">
                            <li>0</li><li>100</li><li>200</li><li>300</li><li>400</li><li>500</li><li>600</li><li>700</li><li>800</li>
                        </ul>
                        <div class="editor-canvas-main">
                            <canvas id="mycanvas" height="500" width="700">
                                使用该功能，请使用IE9以上版本，或使用google chrome、firefox等支持HTML5的浏览器！
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 可视化编辑组件 end -->
    </div>
</div>

<div id="functionEditor" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>提示</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>名称：</label>
                        <input class="form-control" data-property="Name"/>
                    </div>
                    <div class="form-group">
                        <label>类型：</label>
                        <select data-property="Type" class="form-control" data-change="bind,Arguments,Script">
                            <option value="beanshell">shell代码</option>
                            <option value="class">java类</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>内容：</label>
                        <textarea class="form-control" data-property="Script" rows="8"></textarea>
                    </div>

                    <h4>参数<a href="#" class="addSeries plr10" data-property="Arguments" data-action="new">+新增参数</a></h4>
                    <div class="form-group seriesList switchover" data-property="Arguments" data-type="list"></div>
                    <div data-list-item="Arguments" class="form-group">
                        <label>参数[<span data-property="Arguments.Current.Name"></span>]值：</label>
                        <input class="form-control" data-property="Arguments.Current.Value"/>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>