<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${model.caption}</title>
    <base href="${HOME}" />
    <link rel="stylesheet" type="text/css" href="static/skins/wfeditor/main.css">
    <script type="text/javascript" src="static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="static/js/ternlight/base.js"></script>
    <script type="text/javascript" src="static/js/ternlight/ternlight.js"></script>
    <script type="text/javascript" src="static/js/ternlight/utils.js"></script>
    <script type="text/javascript" src="static/js/ternlight/connector.js"></script>
    <script type="text/javascript" src="static/js/ternlight/action.js"></script>
    <script type="text/javascript" src="static/js/ternlight/command.js"></script>
    <script type="text/javascript" src="static/js/ternlight/text.js"></script>
    <script type="text/javascript" src="static/js/editorui.js"></script>
    <script type="text/javascript" src="static/js/workflow.js"></script>
    <style>
     .toolitem{
         width:80px;
         height:20px;
         border:1px solid green;
         background:#F89E24;
         font-size: 9pt;
         text-align:center;
         padding-top: 4px;
     }
     </style>
    <script language="javascript">
     $(function(){
         var uictrl = new wf.WorkflowController('${URL}');
     });
    </script>
</head>
<body>
<div class="inner">
    <div class="project-editor">
        <!-- 可视化编辑组件 start -->
        <div class="editor-wrapper">
            <!-- 编辑框头部 -->
            <div class="editor-head">
                <!-- 顶部工具栏 -->
                <div class="editor-tool">
                    <div class="right">
                        <div class="classify">
                            <a href="#" title="保存" class="preview operate"></a>
                            <a href="#" title="重载" class="resize-full operate"></a>
                        </div>
                    </div>
                    <ul class="tool-group float">
                        <!-- 左侧工具一级分类 -->
                        <li>
                            <!-- 工具二级小类-调色盘 -->
	 							<span class="classify">
	 								<div class="drop-down colorsPanel">
	 									<a href="#" class="colorBucket drop-link operate"><div class="colorShow"></div><i class="arrow"></i></a>
	 									<div class="drop-details">
	 										<div>#&nbsp;&nbsp;<input type="text" class="color-value inputText" /></div>
	 										<ul class="float colors">
	 											<li><a href="#" class="color-1" color="000000"></a></li>
	 											<li><a href="#" class="color-2" color="666666"></a></li>
	 											<li><a href="#" class="color-3" color="ffffff"></a></li>
	 											<li><a href="#" class="color-4" color="ff0000"></a></li>
	 											<li><a href="#" class="color-5" color="ffff00"></a></li>
	 											<li><a href="#" class="color-6" color="00ff00"></a></li>
	 											<li><a href="#" class="color-7" color="002aff"></a></li>
	 											<li><a href="#" class="color-8" color="5151ff"></a></li>
	 											<li><a href="#" class="color-9" color="0084ff"></a></li>
	 											<li><a href="#" class="color-10" color="00c0ff"></a></li>
	 											<li><a href="#" class="color-11" color="00fff0"></a></li>
	 											<li><a href="#" class="color-12" color="00ff84"></a></li>
	 											<li><a href="#" class="color-13" color="009341"></a></li>
	 											<li><a href="#" class="color-14" color="00c758"></a></li>
	 											<li><a href="#" class="color-15" color="a2ff00"></a></li>
	 											<li><a href="#" class="color-16" color="ff9c00"></a></li>
	 											<li><a href="#" class="color-17" color="ff6600"></a></li>
	 											<li><a href="#" class="color-18" color="ff0072"></a></li>
	 											<li><a href="#" class="color-19" color="ff00ba"></a></li>
	 											<li><a href="#" class="color-20" color="b400ff"></a></li>
	 										</ul>
	 									</div>
	 								</div>
	 							</span>
                        </li>
                        <li>
                            <!-- 工具二级小类-元素坐标值 -->
	 							<span class="classify tool-axes">
	 								<lable>x:</lable>
	 								<input type="text" class="inputText" data-property="X"/>
	 								<lable class="ml5">y:</lable>
	 								<input type="text" class="inputText" data-property="Y"/>
	 								<lable class="ml5">w:</lable>
	 								<input type="text" class="inputText" data-property="Width"/>
	 								<lable class="ml5">h:</lable>
	 								<input type="text" class="inputText" data-property="Height"/>
	 							</span>
                        </li>
                        <li>
                            <!-- 工具二级小类-元素z-index层级 -->
	 							<span class="classify">
	 								<a class="zIndex-top operate" href="#"></a>
	 								<a class="zIndex-bottom operate" href="#"></a>
	 								<a class="zIndex-up operate" href="#"></a>
	 								<a class="zIndex-down operate" href="#"></a>
	 							</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="editor-body">
                <!-- 右侧工具栏 -->
                <div class="editor-body-tool">
                    <!-- 文字元素 -->
                    <div class="body-tool-Text">
                        <h1>Word Set</h1>
                        <!-- 字体和字号设置 -->
                        <div class="divide line">
                            <div class="form-entry">
                                <select class="fontFamily" data-property="Font.Name">
                                    <option>Arial</option>
                                </select>
                            </div>
                            <div class="form-entry">
                                <select class="fontSize" data-property="Font.Size">
                                    <option value="12">12</option>
                                    <option value="16">16</option>
                                    <option value="18">18</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                    <option value="48">48</option>
                                    <option value="72">72</option>
                                </select>
                            </div>
                        </div>
                        <!-- 文字颜色设置 -->
                        <div class="divide line plr10">
                            <label>Color:</label>
                            <div class="drop-down colorsPanel">
                                <a href="#" class="colorSet drop-link colorShow"></a>
                                <div class="drop-details">
                                    <ul class="float colors" data-property="Font.Color" data-type="color">
                                        <li><a href="#" class="color-1" data-color="000000"></a></li>
                                        <li><a href="#" class="color-2" data-color="666666"></a></li>
                                        <li><a href="#" class="color-3" data-color="ffffff"></a></li>
                                        <li><a href="#" class="color-4" data-color="ff0000"></a></li>
                                        <li><a href="#" class="color-5" data-color="ffff00"></a></li>
                                        <li><a href="#" class="color-6" data-color="00ff00"></a></li>
                                        <li><a href="#" class="color-7" data-color="002aff"></a></li>
                                        <li><a href="#" class="color-8" data-color="5151ff"></a></li>
                                        <li><a href="#" class="color-9" data-color="0084ff"></a></li>
                                        <li><a href="#" class="color-10" data-color="00c0ff"></a></li>
                                        <li><a href="#" class="color-11" data-color="00fff0"></a></li>
                                        <li><a href="#" class="color-12" data-color="00ff84"></a></li>
                                        <li><a href="#" class="color-13" data-color="009341"></a></li>
                                        <li><a href="#" class="color-14" data-color="00c758"></a></li>
                                        <li><a href="#" class="color-15" data-color="a2ff00"></a></li>
                                        <li><a href="#" class="color-16" data-color="ff9c00"></a></li>
                                        <li><a href="#" class="color-17" data-color="ff6600"></a></li>
                                        <li><a href="#" class="color-18" data-color="ff0072"></a></li>
                                        <li><a href="#" class="color-19" data-color="ff00ba"></a></li>
                                        <li><a href="#" class="color-20" data-color="b400ff"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- 文字样式设置 -->
                        <div class="divide line plr10">
                            <a href="#" class="fontBold operate persist" data-property="Font.IsBold"></a>
                            <a href="#" class="fontItalic operate persist" data-property="Font.IsItalic"></a>
                            <a href="#" class="fontUnderline operate persist" data-property="Font.IsUnderline"></a>
                        </div>
                        <!-- 段落样式设置 -->
                        <div class="divide plr10">
                            <a href="#" class="align-left operate persist" data-property="Font.Align" data-value="left"></a>
                            <a href="#" class="align-center operate persist" data-property="Font.Align" data-value="center"></a>
                            <a href="#" class="align-right operate persist" data-property="Font.Align" data-value="right"></a>
                        </div>
                        <h1>Word Content</h1>
                        <div class="switchover plr10" index="text">
                            <div class="form-entry">
                                <label><input type="radio" name="wordDataType" show="word-Text" data-property="DataType" value="static"/>固定文字</label>
                            </div>
                            <div class="form-entry">
                                <label><input type="radio" name="wordDataType" show="word-Data" data-property="DataType" value="stream"/>数据流值</label>
                            </div>
                        </div>
                        <div id="switchover_text">
                            <div id="word-Text"><textarea data-property="Text"></textarea></div>
                            <div id="word-Data">
                                <select>
                                    <option>--选择设备--</option>
                                    <option>设备1</option>
                                    <option>设备2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- 曲线图表元素 -->
                    <div class="body-tool-Line" style="display:none;">
                        <h1>系列</h1>
                        <div class="seriesList switchover" index="series" data-property="Series" data-type="list">
                            <div class="form-entry" data-index="0" style="display:block">
                                <input type="radio" name="seriesType" show="series1" checked/>
									<span class="text-edit">
										<span class="text">温度测试1</span>
										<input type="text" class="inputText" />
										<i class="icon-edit" data-action="edit"></i>
										<i class="icon-dell" data-action="delete"></i>
									</span>
                            </div>
                        </div>
                        <a href="#" class="addSeries plr10" data-property="Series" data-action="new">+新增系列</a>
                        <div id="switchover_series">
                            <div data-list-item="Series">
                                <h1><span data-property="Series.Current.Name">系列名</span>-数据流</h1>
                                <div class="form-entry">
                                    <select data-property="Series.Current.Device">
                                        <option>--选择设备--</option>
                                        <option>设备1</option>
                                        <option>设备2</option>
                                    </select>
                                </div>
                                <div class="form-entry">
                                    <select data-property="Series.Current.DataSource">
                                        <option>--选择数据流--</option>
                                    </select>
                                </div>
                                <h1><span data-property="Series.Current.Name">系列名</span>-折线设置</h1>
                                <div class="divide plr10">
                                    <label>Color:</label>
                                    <div class="drop-down colorsPanel">
                                        <a href="#" class="colorSet drop-link colorShow"></a>
                                        <div class="drop-details">
                                            <ul class="float colors" data-property="Series.Current.Color" data-type="color">
                                                <li><a href="#" class="color-1" color="000000"></a></li>
                                                <li><a href="#" class="color-2" color="666666"></a></li>
                                                <li><a href="#" class="color-3" color="ffffff"></a></li>
                                                <li><a href="#" class="color-4" color="ff0000"></a></li>
                                                <li><a href="#" class="color-5" color="ffff00"></a></li>
                                                <li><a href="#" class="color-6" color="00ff00"></a></li>
                                                <li><a href="#" class="color-7" color="002aff"></a></li>
                                                <li><a href="#" class="color-8" color="5151ff"></a></li>
                                                <li><a href="#" class="color-9" color="0084ff"></a></li>
                                                <li><a href="#" class="color-10" color="00c0ff"></a></li>
                                                <li><a href="#" class="color-11" color="00fff0"></a></li>
                                                <li><a href="#" class="color-12" color="00ff84"></a></li>
                                                <li><a href="#" class="color-13" color="009341"></a></li>
                                                <li><a href="#" class="color-14" color="00c758"></a></li>
                                                <li><a href="#" class="color-15" color="a2ff00"></a></li>
                                                <li><a href="#" class="color-16" color="ff9c00"></a></li>
                                                <li><a href="#" class="color-17" color="ff6600"></a></li>
                                                <li><a href="#" class="color-18" color="ff0072"></a></li>
                                                <li><a href="#" class="color-19" color="ff00ba"></a></li>
                                                <li><a href="#" class="color-20" color="b400ff"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="divide plr10">
                                    <div class="form-entry"><label><input type="checkbox" data-property="Series.Current.IsSmooth"/>平滑效果</label></div>
                                    <div class="form-entry"><label><input type="checkbox" data-property="Series.Current.IsGradient"/>渐变填充</label></div>
                                    <div class="form-entry"><label><input type="checkbox" data-property="Series.Current.IsShowValue"/>显示数值</label></div>
                                </div>

                                <h1><span>系列名</span>-时间点设置<i class="toggle"></i></h1>
                                <div class="toggleContent">
                                    <p class="plr10">数据点时间格式</p>
                                    <div class="form-entry"><input class="inputText" type="text" /></div>
                                    <div class="plr10">
                                        <p>时间支持以下通配符</p>
                                        <p>{Y}:四位年份</p>
                                        <p>{y}:两位年份</p>
                                        <p>{m}:两位月份</p>
                                        <p>{d}:两位日期</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1>其他设置</h1>
                        <div class="plr10">
                            <div class="form-entry">
                                <label>刷新频率</label><input class="inputText small" type="number" />
                            </div>
                            <div class="form-entry">
                                <label>数据点个数</label><input class="inputText small" type="number" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 左侧菜单栏 -->
                <div class="editor-body-menu">
                    <a href="#" class="menu-sharp" data-type="wf.StepShape"><i class="icon-editor-step"></i><p>步骤</p></a>
                    <a href="#" class="menu-sharp" data-type="wf.JoinShape"><i class="icon-editor-join"></i><p>合并</p></a>
                    <a href="#" class="menu-sharp" data-type="wf.SplitShape"><i class="icon-editor-split"></i><p>拆分</p></a>
                </div>
                <!-- 编辑区域 -->
                <div class="editor-body-main">
                    <!-- 画布元素 -->
                    <div id="canvas" class="editor-canvas">
                        <ul class="grid-left">
                            <li><span>0</span></li><li><span>100</span></li><li><span>200</span></li><li><span>300</span></li><li><span>400</span></li><li><span>500</span></li><li><span>600</span></li><li><span>700</span></li><li><span>800</span></li>
                        </ul>
                        <ul class="grid-top" style="width: 900px;">
                            <li>0</li><li>100</li><li>200</li><li>300</li><li>400</li><li>500</li><li>600</li><li>700</li><li>800</li>
                        </ul>
                        <div class="editor-canvas-main">
                            <canvas id="mycanvas" height="500" width="700">
                                使用该功能，请使用IE9以上版本，或使用google chrome、firefox等支持HTML5的浏览器！
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 可视化编辑组件 end -->
    </div>
</div>

</body>
</html>