<#assign columns=model.columnList colcount=0>
<@tern.override name="grid-title">
  <tr class="info">
     <th><input name="cb_all" id="cb_all" type="checkbox"/></th>
     <th>流程标识</th>
     <th>流程名称</th>
     <th>数据模型</th>
     <th>步骤流程标识</th>
     <th>操作</th>
  </tr>
</@>
<@tern.override name="grid-detail">
  <tr>
      <td><input value='${item.id}' name="cb_record" type="checkbox"/></td>
      <td>${(item.tname)!}</td>        	
      <td>${(item.tcaption)!}</td>
      <td>${(item.serTableName)!}</td>
      <td>${(item.stepTable)!}</td>
      <td>
        <a href="#modify"><i class="fa fa-edit"></i></a>
	    <a href="#del"><i class="fa fa-remove"></i></a>
     </td>
  </tr>
</@>

<#include "/model/index.html">