<!DOCTYPE html>
<html>
<head>
    <base href="${HOME}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${HOME}static/bootstrap/css/bootstrap.css" media="screen">
</head>
<body>
	<h1>IAP IDE:${appname}</h1>
	<ul>
		<li><a href="enumtype/${appname}">枚举值</a></li>
		<li><a href="data/${appname}/entity">数据模型</a></li>
		<li><a href="data/${appname}/menu">菜单</a></li>
		<li><a href="data/${appname}/permgroup">权限组</a></li>
		<li><a href="data/${appname}/role">角色</a></li>
		<li><a href="service/${appname}">工作流</a></li>
		<li><a href="route/${appname}">路由</a></li>
	</ul>
</body>
</html>