@charset "utf-8";
/*-----------------------------------base------------------------------------*/
html,body,p,ul,li,h1,h2,h3,h4,img,dl,dt,dd,ol,form{
	padding: 0;
	margin: 0;
	border: none;
}
body{
	font-family: Verdana,arial,Helvetica,'Microsoft YaHei',sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
p,span,label,h4,a,th,td{
	font-family: Verdana,arial,Helvetica,'Microsoft YaHei',sans-serif;
	font-size: 12px;
	line-height: 1.5;
}
ul,li,ol{
	list-style: none;
}
ul.float li{
	float: left;
}
i{
	display: inline-block;
	*display: inline;
	zoom:1;
}
.clear{clear: both;}
.clear:after,ul.float:after{
	content: ""; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
a{color: #008ae2;}
a,span,i{
    display: inline-block;
    *display: inline;
    zoom:1;
}
input[type="radio"], input[type="checkbox"] {
    vertical-align:middle;margin-top:-2px;
}
.ml5{margin-left:5px!important; }
.plr10{padding-left: 10px!important;padding-right: 10px!important;}
/*-----------------------------------common------------------------------------*/
label.block{display: block;}
.btn,button{
	font-family:Arial, Helvetica, sans-serif, "微软雅黑";
    background: #f8f8f8 linear-gradient(to bottom, #fefefe, #efefef);
    border: 1px solid #2e6da4;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #666;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    height:34px;
    line-height: 32px;
    margin: 0;
    min-width: 40px;
    overflow: visible;
    padding: 0 14px;
    vertical-align: middle;
    text-align: center;
    width: auto;
    *border: none;
    outline: none;
}
.inputText{
    border: solid 1px #d3d3d3;
    height: 24px;
    line-height: 22px;
    padding: 2px 5px;
    vertical-align: middle;
    width: 180px;
}
textarea {
    border: 1px solid #d3d3d3;
    color: #272727;
    overflow: auto;
    padding: 2px;
    width: 400px;
}
select {
    border: 1px solid #d3d3d3;
    padding:2px 3px 3px 3px;
    padding:3px 3px 4px 3px\0;
    vertical-align: middle;
    line-height: 22px;
}
.inner{
    width: 1105px;
    margin: 0 auto;
}
/*-----------------------------------APP Edit------------------------------------*/
.drop-down{
    position: relative;
    display: inline-block;
    *display: inline;
    zoom:1;
}
.drop-link{vertical-align: middle;}
.drop-down .drop-details{
    position: absolute;
    left: 0;
    top: 24px;
}
.drop-down .drop-details{
    top: 26px;
    padding: 10px 2px 10px 8px;
    z-index: 1008;
    width: 124px;
    left: -5px;
    border: solid 1px #afafaf;
    background-color: #fff;
}
.drop-down .arrow{
    background: url("images/appEdit/arrow-dropDown.png") no-repeat center;
    width: 8px;
    height: 100%;
    margin-left: 5px;
    vertical-align: middle;
}
.project-wrapper{
	padding: 20px;
}
/*project-editor*/
.editor-wrapper{

}
.editor-wrapper.hasFull{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.editor-head {
    background: #d3d3d3;
    border-bottom: 1px solid #bbb;
    padding: 0 6px;
}
.editor-wrapper a.operate{
    width: 24px;
    height: 24px;
}
.editor-tool{height: 32px;padding: 4px 0;z-index: 1008;}
.editor-tool .right{float: right;margin-top: 2px;background-color: #dedede;height: 24px;padding: 4px;}
.tool-group li{
    margin-right: 3px;
    background-color: #dedede;
    padding: 4px;
    height: 24px;
}
.editor-wrapper a.operate{
    text-decoration: none;
    border: solid 1px transparent; 
}
.editor-wrapper a.operate:hover{
    border:solid 1px #ffbe00;
    background-color: #fff7e1;
}
.editor-wrapper a.operate.active{
    background-color: #feedb9;
    border-color: #ffbe00;
}
.classify{
    height: 100%;
    vertical-align: top;
    border-left: solid 2px #cecece;
    padding-left: 6px;
    margin-right: 5px;
    font-size: 14px;
}
.colorBucket{
    background: url("images/appEdit/colorBucket.png") no-repeat 3px center;
    padding-left: 22px;
    height: 100%;
    vertical-align: middle;
    z-index: 1008;
}
.colorBucket .colorShow{
    width: 16px;
    height: 4px;
    position: absolute;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
}
.colorBucket .arrow{
    margin-right: 3px;
    border-left: solid 1px transparent;
    width: 15px;
    margin-left: 2px;
}
.colorBucket:hover .arrow{border-left: solid 1px #ffbe00;}
.tool-group .color-value{width: 60px;height: 20px;line-height: 18px;}
.editor-tool .inputText{
    width: 50px;
    height: 24px;
    line-height: 22px;
    vertical-align: middle;
    padding: 0px 3px;
    font-size: 14px;
}
.editor-tool .colors{margin-top: 10px;}
.colors li{
    background: none;
    margin-right: 4px;
    height: 16px;
    width: 16px;
    padding: 0;
    margin-bottom: 5px;
}
.colors li a{
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-style: solid;
}
.colors .color-1{background-color: #000;border-color:#000; }
.colors .color-2{background-color: #666666;border-color:#666666; }
.colors .color-3{background-color: #fff;border-color:#000; }
.colors .color-4{background-color: #ff0000;border-color:#ff0000; }
.colors .color-5{background-color: #ffff00;border-color:#ffff00; }
.colors .color-6{background-color: #00ff00;border-color:#00ff00; }
.colors .color-7{background-color: #002aff;border-color:#002aff; }
.colors .color-8{background-color: #5151ff;border-color:#5151ff; }
.colors .color-9{background-color: #0084ff;border-color:#0084ff; }
.colors .color-10{background-color: #00c0ff;border-color:#00c0ff; }
.colors .color-11{background-color: #00fff0;border-color:#00fff0; }
.colors .color-12{background-color: #00ff84;border-color:#00ff84;}
.colors .color-13{background-color: #009341;border-color:#009341;}
.colors .color-14{background-color: #00c758;border-color:#00c758;}
.colors .color-15{background-color: #a2ff00;border-color:#a2ff00;}
.colors .color-16{background-color: #ff9c00;border-color:#ff9c00;}
.colors .color-17{background-color: #ff6600;border-color:#ff6600;}
.colors .color-18{background-color: #ff0072;border-color:#ff0072;}
.colors .color-19{background-color: #ff00ba;border-color:#ff00ba;}
.colors .color-20{background-color: #b400ff;border-color:#b400ff;}
.grid{
    background: url("images/appEdit/grid.png") no-repeat center;
    width: 26px!important;
}
.zIndex-top{
    background: url("images/appEdit/zIndex-top.png") no-repeat center;
}
.zIndex-bottom{
    background: url("images/appEdit/zIndex-bottom.png") no-repeat center;
}
.zIndex-up{
    background: url("images/appEdit/zIndex-up.png") no-repeat center;
}
.zIndex-down{
    background: url("images/appEdit/zIndex-down.png") no-repeat center;
}
.fontBold{
    background: url("images/appEdit/fontBold.png") no-repeat center;
}
.fontItalic{
    background: url("images/appEdit/fontItalic.png") no-repeat center;
}
.fontUnderline{
    background: url("images/appEdit/fontUnderline.png") no-repeat center;
}
.align-left{
    background: url("images/appEdit/align-left.png") no-repeat center;
}
.align-center{
    background: url("images/appEdit/align-center.png") no-repeat center;
}
.align-right{
    background: url("images/appEdit/align-right.png") no-repeat center;
}
.preview{
    background: url("images/appEdit/preview.png") no-repeat center;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.resize-full{
    background: url("images/appEdit/fullscreen.png") no-repeat center;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.resize-full.small{
    background-image: url("images/appEdit/exitFullscreen.png");
}
.editor-body {
    position: relative;
}
.editor-body-menu a{
    text-decoration: none;
    display: block;
    line-height: auto;
    margin-bottom: 10px;
}
.editor-body-menu a p{
    color: #373737;
    font-size: 14px;
    line-height: 16px;
}
.menu-sharp i{
    width: 40px;
    height: 40px;
}

i.icon-editor-step{background: url("images/step.png") no-repeat 0 0;}
i.icon-editor-join{background: url("images/join.png") no-repeat 0 0;}
i.icon-editor-split{background: url("images/split.png") no-repeat 0 0;}

.editor-body-tool{width: 200px;float: right;}
.editor-body-tool textarea{width: 172px;font-size: 12px;padding: 2px 5px;}
.editor-body-tool .switchover{margin-bottom: 5px;}
.editor-body-menu,.editor-body-tool{
    height:559px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #dadada;
    border-top: none;
}
.editor-body-menu{
    width: 90px;
    float: left;
    padding: 10px 0;
    background-color: #fff;
    border:solid 1px #cecece; 
    border-top:none; 
    border-right: solid 2px #cecece;
    text-align: center;
}
.editor-body-main{
    overflow: auto;
    height: 700px;
    border-bottom: 1px solid #dadada;
}
.editor-body-tool{
    width: 185px;
    padding: 0px 5px;
    background-color: #f2f2f2;
    font-size: 12px;
    overflow: auto;
}
.editor-body-tool p{font-size: 12px;color: #333;line-height: 18px;}
.editor-body-tool .inputText{width: 158px;}
.editor-body-tool .inputText.small{width: 50px;}
.editor-body-tool label{margin-right: 5px;}
.editor-body-tool>div{width: 100%;}
.editor-body-tool h1{
    margin: 0;
    padding: 5px 15px;
    font-size: 12px;
    color: #333333;
    background-color: #e3e3e3;
    font-weight: normal;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 5px;
    position: relative;
}
.editor-body-tool .toggle{position: relative;}
.editor-body-tool .toggle-arrow{
    background:transparent url("images/appEdit/toggle_down.png") no-repeat center;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px;
    cursor: pointer;
    border: solid 1px transparent;
}
.editor-body-tool .toggle-arrow.up{background-image: url("images/appEdit/toggle_up.png");}
.editor-body-tool .toggle-arrow:hover{
    background-color: #feedb9;
    border-color:#ffbe00; 
}
.fontFamily{width:125px;}
.divide{
    padding-bottom: 5px;
    margin-top: 5px;
}
.divide.line{border-bottom: solid 1px #d1d1d1;}
.colorSet{
    background-color:#000;
    border:solid 1px #000;
    width: 32px;
    height: 18px;
}
.editor-body-tool select{width: 170px;}
.editor-body-tool .form-entry{margin-bottom: 5px;}
.addSeries{color: #d39500;text-decoration: none;}
.seriesList .inputText{width: 76px;}
.addSeries{margin-bottom: 5px;margin-left: 5px;}
.seriesList .text{width: 88px;}
.text-edit i{
    width: 17px;
    height: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: solid 1px #d6d6d6;
    vertical-align: middle;
    margin-left: 2px;
    cursor: pointer;
}
.text-edit i:hover{
    background-color: #fff7e1;
    border-color: #ffbe00;
}
.text-edit .icon-dell{background-image: url("images/appEdit/icon-dell.png");}
.text-edit .icon-save{background-image: url("images/appEdit/icon-save.png");}
.text-edit .icon-edit{background-image: url("images/appEdit/icon-edit.png");}
#canvas{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}
.gridBg{
    background: url("images/appEdit/bg_grid.png");
    padding: 0;
}
.canvas-sharp{position: absolute;}
.canvas-sharp.text{padding: 2px 5px;}
.sharp-selector{
    position: absolute;
    border:1px dashed #639ae7;
    width: 100px;
    height: 100px;
}
.handler{
    position: absolute; 
    width: 5px;
    height: 5px;
    background-color: #639ae7;
    border: solid 1px #446c9d;
}
.handler.lt{cursor:nw-resize;left: -4px;top: -4px;}
.handler.t{cursor:n-resize;left: 50%;top: -4px;margin-left: -4px;}
.handler.rt{cursor:ne-resize;right: -4px;top: -4px;}
.handler.l{cursor:w-resize;left: -4px;top: 50%;margin-top: -4px;}
.handler.r{cursor:e-resize;right: -4px;top: 50%;margin-top: -4px;}
.handler.lb{cursor:sw-resize;left: -4px;bottom: -4px;}
.handler.b{cursor:s-resize;left: 50%;margin-left: -4px;bottom: -4px;}
.handler.rb{cursor:se-resize;right: -4px;bottom: -4px;}

.editor-canvas .grid-left {
    width: 12px;
    padding-right: 4px;
    position: absolute;
    top: 16px;
    list-style: none;
}

.editor-canvas .grid-top {
    height: 16px;
    position: absolute;
    left: 16px;
    list-style: none;
}

.editor-canvas .grid-left li {
    width: 16px;
    height: 100px;
    background: url(images/appEdit/bg_v.png) 0 0 no-repeat;
    float: left;
    font-size: 12px;
    color: #666;
    writing-mode: tb-rl;
    text-indent: 2px;
}

.editor-canvas .grid-top li {
    height: 16px;
    width: 100px;
    background: url(images/appEdit/bg_h.png) 0 0 no-repeat;
    float: left;
    text-align: left;
    font-size: 12px;
    color: #666;
    text-indent: 2px;
}

.ui-selectable {
    position: absolute;
    border: 1px solid #71c4ff;
}

.ui-resizable-ne {
    cursor: ne-resize;
    right: -5px;
    top: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    left: -5px;
    top: -5px;
}

.ui-resizable-se {
    cursor: se-resize;
    right: -5px;
    bottom: -5px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-n {
    cursor: n-resize;
    top: -5px;
    left: 50%;
    margin-left: -5px;
}

.ui-resizable-s {
    cursor: s-resize;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
}

.ui-resizable-e {
    cursor: e-resize;
    right: -5px;
    top: 50%;
    margin-top: -5px;
}

.ui-resizable-w {
    cursor: w-resize;
    left: -5px;
    top: 50%;
    margin-top: -5px;
}

.ui-resizable-handler {
    background-color: #fff;
    border: 1px solid #4995cb;
    height: 9px;
    width: 9px;
    position: absolute;
    font-size: .1px;
    display: block;
}

.editor-canvas-main{
   padding-top:16px;
   padding-left:16px;
}